In [1]:
import pandas as pd

In [2]:
input = pd.read_csv('day4_input.txt',header=None)
input = input.set_axis(['elf1','elf2'],axis='columns')

In [3]:
input[['elf1_start','elf1_end']]= input.elf1.str.split('-',expand=True).astype(int)
input[['elf2_start','elf2_end']]= input.elf2.str.split('-',expand=True).astype(int)

In [4]:
input['elf1_start_kleiner'] = input.apply(
    lambda row: 'yes' if row.elf1_start <= row.elf2_start
                else 'no',
    axis=1    
)

In [5]:
input['elf1_end_größer'] = input.apply(
    lambda row: 'yes' if row.elf1_end >= row.elf2_end
                else 'no',
    axis=1    
)

In [6]:
input['elf2_start_kleiner'] = input.apply(
    lambda row: 'yes' if row.elf2_start <= row.elf1_start
                else 'no',
    axis=1    
)

In [7]:
input['elf2_end_größer'] = input.apply(
    lambda row: 'yes' if row.elf2_end >= row.elf1_end
                else 'no',
    axis=1    
)

In [8]:
input['both'] = input.apply(
    lambda row: 1 if (row.elf1_start_kleiner == 'yes' and row.elf1_end_größer == 'yes') or (row.elf2_start_kleiner == 'yes' and row.elf2_end_größer == 'yes')
                else 0,
    axis=1    
)

In [9]:
input['both'].sum()

524

In [10]:
input

,elf1,elf2,elf1_start,elf1_end,elf2_start,elf2_end,elf1_start_kleiner,elf1_end_größer,elf2_start_kleiner,elf2_end_größer,both
0,28-47,45-47,28,47,45,47,yes,yes,no,yes,1
1,32-97,98-98,32,97,98,98,yes,no,no,yes,0
2,59-92,91-93,59,92,91,93,yes,no,no,yes,0
3,8-74,9-74,8,74,9,74,yes,yes,no,yes,1
4,58-98,23-57,58,98,23,57,no,yes,yes,no,0
...,...,...,...,...,...,...,...,...,...,...,...
995,89-97,96-97,89,97,96,97,yes,yes,no,yes,1
996,43-50,42-50,43,50,42,50,no,yes,yes,yes,1
997,59-78,60-87,59,78,60,87,yes,no,no,yes,0
998,7-76,6-6,7,76,6,6,no,yes,yes,no,0
999,20-35,22-34,20,35,22,34,yes,yes,no,no,1