In [56]:
import pandas as pd

In [57]:
input = pd.read_csv('day4_input.txt',header=None)
input = input.set_axis(['elf1','elf2'],axis='columns')

In [58]:
input[['elf1_start','elf1_end']]= input.elf1.str.split('-',expand=True).astype(int)
input[['elf2_start','elf2_end']]= input.elf2.str.split('-',expand=True).astype(int)

In [98]:
input['twooverlapone'] = input.apply(
    lambda row: 'yes' if (row.elf2_start <= row.elf1_end and row.elf2_end >= row.elf1_start)
                else 'no',
    axis=1    
)

In [96]:
input['oneoverlaptwo'] = input.apply(
    lambda row: 'yes' if (row.elf1_start >= row.elf2_end)
                else 'no',
    axis=1    
)

In [99]:
input

,elf1,elf2,elf1_start,elf1_end,elf2_start,elf2_end,twooverlapone,oneoverlaptwo,combine
0,28-47,45-47,28,47,45,47,yes,no,1
1,32-97,98-98,32,97,98,98,no,no,0
2,59-92,91-93,59,92,91,93,yes,no,0
3,8-74,9-74,8,74,9,74,yes,no,1
4,58-98,23-57,58,98,23,57,no,yes,0
...,...,...,...,...,...,...,...,...,...
995,89-97,96-97,89,97,96,97,yes,no,1
996,43-50,42-50,43,50,42,50,yes,no,1
997,59-78,60-87,59,78,60,87,yes,no,0
998,7-76,6-6,7,76,6,6,no,yes,0
999,20-35,22-34,20,35,22,34,yes,no,1

In [100]:
input['combine'] = input.apply(
    lambda row: 1 if ( row.twooverlapone == 'yes')
                else 0,
    axis=1    
)

In [101]:
input['combine'].sum()

798