In [405]:
import pandas as pd

In [406]:
#import for testfile
# input = pd.read_fwf('day5_input.txt',colspecs=[(0,4),(4,8),(8,12)],names=['stack1','stack2','stack3'])
#stacks = input.loc[:2]

In [407]:
#import for testfile
# moves = pd.read_csv('day5_input.txt',header=None,names=['moves'])
# moves = moves.loc[4:]
# moves = moves['moves'].str.split(' ',5,expand=True)
# moves = moves.rename(columns={0:'move',1:'count_moves',2:'from',3:'from_stack',4:'to',5:'to_stack'})

In [408]:
input = pd.read_fwf('day5_input.txt',colspecs=[(0,4),(4,8),(8,12),(12,16),(16,20),(20,24),(24,28),(28,32),(32,36)],names=['stack1','stack2','stack3','stack4','stack5','stack6','stack7','stack8','stack9'])
stacks = input.loc[:7]

In [409]:
moves = pd.read_csv('day5_input.txt',header=None,names=['moves'])
moves = moves.loc[9:]
moves = moves['moves'].str.split(' ',5,expand=True)
moves = moves.rename(columns={0:'move',1:'count_moves',2:'from',3:'from_stack',4:'to',5:'to_stack'})

In [410]:
moves

     move count_moves  from from_stack  to to_stack
9    move           1  from          3  to        5
10   move           5  from          5  to        4
11   move           6  from          7  to        3
12   move           6  from          1  to        3
13   move           1  from          1  to        9
..    ...         ...   ...        ...  ..      ...
507  move          14  from          1  to        8
508  move           1  from          6  to        2
509  move           2  from          7  to        1
510  move           3  from          8  to        3
511  move           6  from          8  to        5

[503 rows x 6 columns]

In [411]:
stacks = stacks.transpose()
stack_list = stacks.values.tolist()

In [412]:
for i in range(len(stack_list)):
    stack_list[i] = stack_list[i][::-1]
    stack_list[i] = [x for x in stack_list[i] if str(x) != 'nan']

In [413]:
for i in moves.values:
    for count in range(int(i[1])):
        to_stack = i[5]
        to_stack = int(to_stack)-1
        from_stack = i[3]
        from_stack = int(from_stack)-1
        stack_list[to_stack].append(stack_list[from_stack][-1])
        stack_list[to_stack] = [x for x in stack_list[to_stack] if str(x) != 'nan']
        stack_list[from_stack] = stack_list[from_stack][:-1]

In [417]:
for i in stack_list:
    print(i[-1])

[S]
[H]
[M]
[S]
[D]
[G]
[Z]
[V]
[C]