Part 1

In [44]:
import pandas as pd

In [46]:
values_of_choice = pd.read_csv('values_of_choice.txt')
values_of_result = pd.read_csv('values_of_result.txt')
all_possible_results = pd.read_csv('all_possible_results.txt')

input = pd.read_csv('day2_input.txt',header=None,sep=' ')
input_test = pd.read_csv('day2_input_test.txt',header=None,sep=' ')

In [47]:
input = input.set_axis(['opponent','you'],axis='columns')
input_test = input_test.set_axis(['opponent','you'],axis='columns')

In [48]:
values_of_choice = values_of_choice[['your_choice_letter','Value_of_letter']]
values_of_choice = values_of_choice.rename(columns={'your_choice_letter':'you'})

In [49]:
your_values_of_choices = pd.merge(input['you'],values_of_choice, on='you')

In [50]:
sum_value_of_choices = your_values_of_choices['Value_of_letter'].sum()
sum_value_of_choices

5990

In [51]:
all_possible_results['combined']= all_possible_results['opponent_letter'] + all_possible_results['your_choice_letter']
all_possible_results

  opponent_name your_name opponent_letter your_choice_letter Result combined
0          Rock      Rock               A                  X   draw       AX
1          Rock     Paper               A                  Y    win       AY
2          Rock  Scissors               A                  Z   lose       AZ
3         Paper      Rock               B                  X   lose       BX
4         Paper     Paper               B                  Y   draw       BY
5         Paper  Scissors               B                  Z    win       BZ
6      Scissors      Rock               C                  X    win       CX
7      Scissors     Paper               C                  Y   lose       CY
8      Scissors  Scissors               C                  Z   draw       CZ

In [52]:
values_of_result

  Result  Points
0    win       6
1   draw       3
2  loose       0

In [53]:
all_possible_results = pd.merge(all_possible_results,values_of_result,on='Result')

In [54]:
all_possible_results

,opponent_name,your_name,opponent_letter,your_choice_letter,Result,combined,Points
0,Rock,Rock,A,X,draw,AX,3
1,Paper,Paper,B,Y,draw,BY,3
2,Scissors,Scissors,C,Z,draw,CZ,3
3,Rock,Paper,A,Y,win,AY,6
4,Paper,Scissors,B,Z,win,BZ,6
5,Scissors,Rock,C,X,win,CX,6

In [55]:
input['combined'] = input['opponent'] + input['you']
input

     opponent you combined
0           C   Y       CY
1           B   Z       BZ
2           B   Z       BZ
3           C   Y       CY
4           B   Y       BY
...       ...  ..      ...
2495        C   Y       CY
2496        C   Z       CZ
2497        B   X       BX
2498        A   X       AX
2499        C   Y       CY

[2500 rows x 3 columns]

In [56]:
sum_result_points = pd.merge(input,all_possible_results,on='combined')
sum_result_points = sum_result_points['Points'].sum()
sum_result_points

7278

In [57]:
total_points = sum_value_of_choices + sum_result_points
total_points

13268

Part 2 
your own letter doesn´t represent your choice, but the outcome you would like to have:
X = lose
Y = draw
Z = win

In [203]:
meaning_of_letter_part2 = pd.read_csv('meaning_of_letter_part2.txt')
values_of_choicepart2 = pd.read_csv('values_of_choice.txt')
input_part2 = pd.read_csv('day2_input.txt',header=None,sep=' ')
all_possible_results_part2 = pd.read_csv('all_possible_results.txt')
values_of_result_part2 = pd.read_csv('values_of_result.txt')

In [204]:
input_part2 = input_part2.set_axis(['opponents_choice','game_result_letter'],axis='columns')

In [205]:
input_part2 = pd.merge(input_part2,meaning_of_letter_part2,on='game_result_letter')

In [206]:
all_possible_results_part2 = all_possible_results_part2.drop(columns=['opponent_name','your_name'])
all_possible_results_part2 = all_possible_results_part2.rename(columns={'opponent_letter':'opponents_choice','your_choice_letter':'your_choice','Result':'result_name'})

In [207]:
input_part2 = input_part2.drop(columns=('game_result_letter'))

In [208]:
input_join = pd.merge(input_part2,all_possible_results_part2, on= ('opponents_choice','result_name'))

In [209]:
values_of_choicepart2 = values_of_choicepart2[['your_choice_letter','Value_of_letter']]
values_of_choicepart2 = values_of_choicepart2.rename(columns={'your_choice_letter':'your_choice'})

In [210]:
input_join = pd.merge(input_join,values_of_choicepart2,on='your_choice')
input_join

     opponents_choice result_name your_choice  Value_of_letter
0                   C        draw           Z                3
1                   C        draw           Z                3
2                   C        draw           Z                3
3                   C        draw           Z                3
4                   C        draw           Z                3
...               ...         ...         ...              ...
2495                B        lose           X                1
2496                B        lose           X                1
2497                B        lose           X                1
2498                B        lose           X                1
2499                B        lose           X                1

[2500 rows x 4 columns]

In [211]:
values_of_result_part2 = values_of_result_part2.rename(columns={'Result':'result_name'})
values_of_result_part2

  result_name  Points
0         win       6
1        draw       3
2        lose       0

In [212]:
input_final = pd.merge(input_join,values_of_result_part2,on='result_name')

In [213]:
input_final

     opponents_choice result_name your_choice  Value_of_letter  Points
0                   C        draw           Z                3       3
1                   C        draw           Z                3       3
2                   C        draw           Z                3       3
3                   C        draw           Z                3       3
4                   C        draw           Z                3       3
...               ...         ...         ...              ...     ...
2495                B        lose           X                1       0
2496                B        lose           X                1       0
2497                B        lose           X                1       0
2498                B        lose           X                1       0
2499                B        lose           X                1       0

[2500 rows x 5 columns]

In [214]:
input_final['Value_of_letter'].sum() + input_final['Points'].sum()

15508